$caption-duration: .65s;
$products-duration: .65s;
$plants-duration: .85s;
$top-plants-delay: .5s;
$right-plants-delay: .5s;
$left-plants-delay: .5s;
/*
.page-intro #index #banner .top .plants > div {
    opacity: 0;
    bottom: -30px;
    transform: scale(0.5);
}
.page-transition-end #index #banner div .plants > div {
    transition: none;
}
.page-transition-end.mobile.ios #index #banner div .plants > div {
    transition: .15s linear 0s;
}
.page-intro #index #banner .right {
    transform: translate(425px, -339px) rotate(45deg);
}
.page-intro #index #banner .right .plants > div {
    opacity: 0;
    left: -169px;
    transform: scale(0.5);
}
.page-intro #index #banner .left {
    transform: translate(-925px, -339px) rotate(45deg);
}
.page-intro #index #banner .left .plants > div {
    opacity: 0;
    right: -163px;
    transform: scale(0.5);
}
.page-intro #index .caption {
    opacity: 0;
    background-position: 0 144px;
}
.page-intro #index .caption::after {
    opacity: 0;
    background-position: 0 30px;
}
.page-intro #index .products li .image {
    opacity: 0;
    transform: translateY(-50px);
}
.page-intro #index .products li .name {
    opacity: 0;
}
.page-intro #index .text,
.page-intro #index .btns {
    opacity: 0;
}
*/
#index {

    height: 780px;

    .inner {
        height: 100%;
        overflow: hidden;
    }

    #banner {

        position: absolute;
        top: 0;
        left: 0;
        width: 480px;
        height: 779px;
        background: url(../images/index/banner-bg.jpg) center top no-repeat;
        background-size: 480px auto;

        & > div {
            position: absolute;
            overflow: hidden;
            transition: $plants-duration cubic-bezier(0.22, 1, 0.36, 1);
            .plants {
                width: 100%;
                height: 100%;
                & > div {
                    content: '';
                    position: absolute;
                    transition: $plants-duration cubic-bezier(0.22, 1, 0.36, 1);
                }
            }
        }

        .top {
            top: 50%;
            left: 50%;
            width: 500px;
            height: 500px;
            transform: translate(-50%, -671px) rotate(45deg);
            .plants {
                transform: translate(74px, 74px) rotate(-45deg);
                & > div {
                    bottom: 109px;
                    left: -12px;
                    width: 535px;
                    height: 207px;
                    background: url(../images/index/banner-top-plants.png?v=2) 0 0 no-repeat;
                    background-size: contain;
                    transition-delay: $top-plants-delay;
                    // transform: translate(90px, 250px) rotate(-45deg);
                }
            }
        }

        .right {
            top: 50%;
            left: 50%;
            width: 500px;
            height: 500px;
            background: url(../images/index/cube-red.jpg) 0 0 repeat;
            background-size: 50px 50px;
            transform: translate(125px, -339px) rotate(45deg);
            .plants {
                transform: translate(-74px, 74px) rotate(-45deg);
                & > div {
                    top: 158px;
                    left: 58px;
                    width: 169px;
                    height: 251px;
                    background: url(../images/index/banner-right-plants.png) 0 0 no-repeat;
                    background-size: contain;
                    transition-delay: $right-plants-delay;
                    // transform: translate(38px, 298px) rotate(-45deg);
                }
            }
        }

        .left {
            top: 50%;
            left: 50%;
            width: 500px;
            height: 500px;
            background: url(../images/index/cube-yellow.jpg) 0 0 repeat;
            background-size: 50px 50px;
            transform: translate(-625px, -339px) rotate(45deg);
            .plants {
                transform: translate(74px, -74px) rotate(-45deg);
                & > div {
                    top: 148px;
                    right: 65px;
                    width: 163px;
                    height: 285px;
                    background: url(../images/index/banner-left-plants.png) 0 0 no-repeat;
                    background-size: contain;
                    transition-delay: $left-plants-delay;
                    // transform: translate(38px, 298px) rotate(-45deg);
                }
            }
        }

    }

    .caption {
        top: 24px;
        left: 168px;
        width: 147px;
        height: 144px;
        background: url(../images/index/caption.png) 0 0 no-repeat;
        background-size: contain;
        transition: background-position $caption-duration cubic-bezier(0, 0.55, 0.45, 1), opacity $caption-duration cubic-bezier(0, 0.55, 0.45, 1);
        &::after {
            content: '';
            position: absolute;
            top: 155px;
            left: 3px;
            width: 148px;
            height: 30px;
            background: url(../images/index/caption-en.png) 0 0 no-repeat;
            background-size: contain;
            transition: background-position $caption-duration cubic-bezier(0, 0.55, 0.45, 1), opacity $caption-duration cubic-bezier(0, 0.55, 0.45, 1);
        }
    }

    .products {

        li .image {transition: $products-duration cubic-bezier(0.34, 1.56, 0.64, 1);}
        li .name {transition: $products-duration cubic-bezier(0.34, 1.56, 0.64, 1);}
        li:nth-child(1) .image {transition-delay: .2s;}
        li:nth-child(2) .image {transition-delay: .25s;}

        li:nth-child(1) {
            top: 228px;
            left: 117px;
        }

        li:nth-child(2) {
            top: 228px;
            left: 241px;
        }

        .name {
            position: absolute;
            top: 245px;
            left: 0;
            width: 100%;
            color: #666666;
            font-size: 14px;
            text-align: center;
        }
        
    }

    .text {
        top: 508px;
        width: 100%;
        // margin: 508px 0 0;
        text-align: center;
        line-height: 1.605;
        transition: opacity .65s ease-out .5s;
    }

    .btns {
        top: 621px;
        transition: opacity .65s ease-out .55s;
        #btn-index-join {display: none;}
    }

}