/*****************************************
*                 import                 *
*****************************************/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/*****************************************
*                  body                  *
*****************************************/

* {outline: 0;}

html {
    padding-top: 76px;
	padding-bottom: 85px;
	overflow-y: scroll;
	text-size-adjust: none;
}

body {
	font-size: 19px;
    font-family: Arial, 'Noto Sans S Chinese', 'sourcehansans-tc', 'source-han-sans-traditional', 'Noto Sans TC', 'Microsoft JhengHei', Tahoma, Verdana, sans-serif;
    font-weight: 600;
	background-color: #fff;
	background-repeat: no-repeat;
}

strong {font-weight: 800;}

a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.input-text {
    font-size: 19px;
    font-family: Arial, 'Noto Sans S Chinese', 'sourcehansans-tc', 'source-han-sans-traditional', 'Noto Sans TC', 'Microsoft JhengHei', Tahoma, Verdana, sans-serif;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
    appearance: none;
}

#wrap {
	position: relative;
	width: 100%;
}

#wrap2 {
	position: relative;
	overflow: hidden;
}

.outer {
	position: relative;
	width: 100%;
}

.inner {
	position: relative;
	width: 480px;
	margin: 0 auto;
}

/*****************************************
*                  main                  *
*****************************************/

#main {

    position: relative;

    // .section {
    //     overflow: hidden;
    // }

}

.campaign-name {
    position: relative;
    width: 240px;
    height: 55px;
    margin: 38px auto 72px;
    background: url(../images/common/campaign-name.png) 0 0 no-repeat;
    background-size: contain;
    transition: background-position .65s cubic-bezier(0, 0.55, 0.45, 1), opacity .65s cubic-bezier(0, 0.55, 0.45, 1);
    @at-root {
        .page-intro .section .campaign-name {
            opacity: 0;
            background-position: 0 55px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 63px;
        left: 59px;
        width: 123px;
        height: 34px;
        background: url(../images/common/campaign-name-en.png) 0 0 no-repeat;
        background-size: contain;
        transition: background-position .65s cubic-bezier(0, 0.55, 0.45, 1), opacity .65s cubic-bezier(0, 0.55, 0.45, 1);
        @at-root {
            .page-intro .section .campaign-name::after {
                opacity: 0;
                background-position: 0 34px;
            }
        }
    }
}

#serial-list {
    width: 425px;
    margin: 0 auto 30px;
    padding: 28px 25px 8px;
    box-sizing: border-box;
    background: #fff;
    .text {
        font-size: 16px;
        // font-weight: 500;
        text-align: center;
        margin-bottom: 17px;
    }
    ul {
        perspective: 500;
    }
    li {
        position: relative;
        height: 66px;
        margin-bottom: 15px;
        padding: 8px 8px 0;
        box-sizing: border-box;
        background: #32ab08;
        transition: .5s ease-out;
        transform: rotateX(0deg) translateY(0);
        opacity: 1;
        @at-root {
            .page-intro #record #part-result #serial-list li {
                opacity: 0;
                transform: rotateX(45deg) translateY(45px);
            }
        }
    }
    .input-text {
        width: 163px;
        height: 34px;
        color: #fff;
        letter-spacing: 1px;
        text-overflow: ellipsis;
        padding: 0 10px;
        border: #fff 7px solid;
        background: #ff5454;
    }
    .link {
        position: absolute;
        top: 8px;
        left: 206px;
        width: 160px;
        height: 48px;
        color: #fff;
        font-size: 23px;
        font-weight: 500;
        line-height: 48px;
        text-indent: 22px;
        background: url(../images/record/white-arrow.png) 127px center no-repeat;
        background-size: 18px 30px;
    }
}

/*****************************************
*                 footer                 *
*****************************************/

/*****************************************
*                   pop                  *
*****************************************/

/*****************************************
*                 loading                *
*****************************************/

/*****************************************
*             common settings            *
*****************************************/

#menu-toggle {

    position: fixed;
	top: 0;
	left: 50%;
	width: 85px;
	height: 76px;
	margin-left: 155px;
	z-index: 5;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transition: .5s ease-in-out;
    transform: rotate(0deg);
    
    span {

        position: absolute;
        left: 20px;
        display: block;
        width: 46px;
        height: 4.5px;
        border-radius: 4.5px;
        background: #c1c1c1;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) { top: 20px; }
        &:nth-child(2), &:nth-child(3) { top: 36px; }
        &:nth-child(4) { top: 52px; }

        @at-root {
            #menu-toggle.open {
                span {
                    &:nth-child(1) {
                        width: 0;
                        top: 44px;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        width: 0;
                        top: 44px;
                        left: 50%;
                    }
                }
            }
        }

    }

    &.open {

        span {
            // background-color: #fff;
        }

    }

}

.btns {

    width: 100%;
    font-size: 0;
    text-align: center;

    .btn {

        position: relative;
        display: inline-block;
        height: 52px;
        color: #000;
        font-size: 22.5px;
        line-height: 52px;
        padding: 0 30px;
        letter-spacing: 1px;
        background: #fff100;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::before,
        &::after {

            content: '';
            position: absolute;
            top: 0;
            left: -26px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 26px 26px 26px 0;
            border-color: transparent #fff200 transparent transparent;

        }

        &::after {
            right: -26px;
            left: auto;
            border-width: 26px 0 26px 26px;
            border-color: transparent transparent transparent #fff200;
        }

    }

}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.pos-a {position: absolute;}

.flt-r {float: right;}
.flt-l {float: left;}

.template {display: none;}
.text-hide {font-size: 0; text-indent: -5000px;}

@keyframes bubble-scale {
    0% {
        transform: scale(0.75);
        // opacity: 1;
    }
    50% {
        transform: scale(1.25);
        // opacity: 1;
    }
    100% {
        transform: scale(0.75);
        // opacity: 0;
    }
}

@keyframes coin-move {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

